.DS_Store
__pycache__
similarity_matrix
matrix_user_repo/starred/adjacency/reddit.csv
latest-matrix/sub/reddit_sub.csv
matrix_user_repo/starred/adjacency/cdd.csv
matrix_user_repo/starred/adjacency/fs.csv