.DS_Store
__pycache__
extra/obsolete/data/latest-matrix/matrix-sub/reddit_sub.csv
step3_convertJSONToMatrix/data/matrix_user_repo/starred/fs.csv
step3_convertJSONToMatrix/data/matrix_user_repo/starred/reddit.csv
step3_convertJSONToMatrix/data/matrix_user_repo/subscriptions/fs.csv
step3_convertJSONToMatrix/data/matrix_user_repo/subscriptions/reddit.csv